* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: content-box;
    color: rgb(255, 255, 255);
}

*::selection {
    color: white;
    background: rgb(114, 114, 114);
}

body {
    background-image: url(./imagenes\ estilo/barbackground.jpg);
}

/*navegacion*/
nav {
    display: inline;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav {
    background-image: url(./imagenes\ estilo/backgroundbar2.jpg);
    display: inline;
}

a {
    color: white;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* MODIFICADO CON BOOSTRAP
nav {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100vw
}
nav h3 {
    font-size: 30px;
    color: white; 
    letter-spacing: 15px; 
    padding-left: 20px;
    text-align: start;
}
nav a { 
    padding-left: 10px;
    padding-right: 10px;
}
*/

/*fin navegacion*/



/*INDEX*/
main {
    margin: 1%;
}

main .portada {
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: 100px;
    margin-top: 150px;
    border: 8px solid white;
    font-size: 30px;
    text-align: center;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    background-position: center;
}

h1 {
    font-size: 45px;
    color: white;
    letter-spacing: 15px
}

.imagenicon {
    margin: auto;
    height: 350px;
    width: 350px;
    border: solid 8px white;
}

.imagenmain {
    height: 400px;
    border: solid 8px white
}

.portada h3 {
    font-size: 30px;
    color: white;
    margin-bottom: 50px;
}

.portada a {
    padding: 15px;
    text-decoration: none;
    color: white;
    border: 3px solid;
    border-color: white;
    background-color: rgb(59, 59, 59)
}

.portada a:hover {
    background-color: rgb(0, 0, 0);
}

.portada p {
    padding-top: 5%;
    font-size: 25px;
    color: white
}

article h2 {
    font-size: 35px;
    color: white;
    letter-spacing: 2px
}

article p {
    font-size: 25px;
    color: white;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 20px;
}

/*sobre nosotros*/
.imagenesnosotros {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.imagenesnosotros :hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.imagennosotros1 {
    height: 400px;
    width: 400px;
    border: 3px solid white;
    margin: 1%;
}

.imagennosotros2 {
    height: 400px;
    width: 400px;
    border: 3px solid white;
    margin: 1%;
}

.imagennosotros3 {
    height: 400px;
    width: 400px;
    border: 3px solid white;
    margin: 1%;
}

.imagennosotros4 {
    height: 400px;
    width: 400px;
    border: 3px solid white;
    margin: 1%;
}

.sobrenosotros {
    border: 8px solid white;
    padding: 15px;
    background-color: rgb(59, 59, 59)
}

article h3 {
    font-size: 30px;
    text-align: left;
    padding-top: 10px;
}

h3 a {
    color: white;
    text-decoration: none;
    text-align: justify
}

.link {
    border: solid 3px;
    color: white;
    background-color: rgb(59, 59, 59);
    display: block;
    padding: 15px;
    display: inline-block
}

.link:hover {
    background-color: rgb(0, 0, 0)
}

/*fin sobre nosotros*/

/*promociones*/
.promociones {
    border: 8px solid white;
    background-color: rgb(59, 59, 59);
    padding: 15px;
    margin-top: 20px;
}

.promociones h2 {
    font-size: 35px;
    color: white;
    letter-spacing: 2px
}

.promociones h3 {
    font-size: 30px;
    color: white;
    text-align: left;
    padding-top: 10px
}

.slides {
    display: flex;
    align-content: center;
    justify-content: center;
}

.slides img {
    width: 90vw;
}

.promociones a {
    font-size: 25px;
    color: white;
    text-align: right;
    text-decoration: none;
    border: 3px solid white;
}

.promociones a:hover {
    background-color: rgb(0, 0, 0);
}


/* MODIFICADO CON BOOTSTRAP
.promociones ul li{
    font-size: 25px;
    color: white;
    list-style: none;
    float: left;
    display: block;
}
.imagenespromo :hover {
    filter:blur(4px);
    transition: 0.3s;
}
.imagenespromociones1 {
    height: 400px;
    width: 400px;
    border: 3px solid white;
    margin: 1%;
}
.imagenespromociones2 {
    height: 400px;
    width: 400px;
    border: 3px solid white;
    margin: 1%;
}
.imagenespromociones3 {
    height: 400px;
    width: 400px;
    border: 3px solid white;
    margin: 1%;
}
.imagenespromociones4 {
    height: 400px;
    width: 400px;
    border: 3px solid white;
    margin: 1%;
}
*/


/*fin promociones*/

/*reservas*/
.reservas {
    border: 8px solid white;
    background-color: rgb(59, 59, 59);
    padding: 15px;
    margin-top: 20px
}
article .reservas h2 {
    font-size: 20px;
    color: white;
    letter-spacing: 2px
}
.reservas h3 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 1%;
}
.container {
    width: auto;
    margin: 0 auto;
    text-align: center;
    color: rgb(59, 59, 59);
    padding: 1%;
    border: 3px solid white;
}
.cajas {
    color: rgb(59, 59, 59);
    border-radius: 5px;
    margin: 1% 0;
    background-color: white;
    border: 2px solid white;
}
.cajas:hover {
    border: 2px solid #000;
}
#npersonas {color: rgb(59, 59, 59);}
.btn {
    height: 40px;
    padding: 1% 5%;
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid white
}
.btn:hover {
    box-shadow: 3px 3px 5px #000;
    background-color: white;
    color: #000;
}
/*
.reservas form {
    border: 3px solid white; 
    background-color: rgb(59, 59, 59);
    font-size: 20px;
    color: white;
    padding: 15px
}
.reservas form input {
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(59, 59, 59);
}
.reservas form a {
    color: white;
}
/*fin reservas*/

/*fin INDEX*/



/*MENU*/
#menu {
    font-size: 45;
    display: flex;
    flex-flow: column wrap;
    margin-top: 12vh;
}

section table {
    border: 8px solid white;
    font-size: 18px;
    color: white;
    padding: 5px;
    background-color: rgb(59, 59, 59);
}

section table td {
    padding: 10px;
}

section .comida {
    margin: 10px;
}

section .bebida {
    margin: 10px;
}

section .combo {
    margin: 10px;
}

.comida :hover {
    animation-name: transparente;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-delay: 0.1s;
}

@keyframes transparente {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.bebida :hover {
    animation-name: transparente;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-delay: 0.1s;
}

@keyframes transparente {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.combo :hover {
    animation-name: transparente;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-delay: 0.1s;
}

@keyframes transparente {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/*fin MENU*/





/*PROMOCIONES*/
#promo {
    display: flex;
    flex-flow: row wrap;
    margin-top: 12vh;
}

.promo {
    border: 8px solid white;
    background-color: rgb(59, 59, 59);
    padding: 1%;
    margin: 1%;
}
.promo img {
    margin: auto;
    padding: 1%;
    height: auto;
    justify-content: center;
    align-content: center;
}
.promo h3 {
    color: white;
    font-size: 30px;
}

.promo ul li {
    font-size: 25;
    color: white;
    padding: 5px 5px 5px 0px;
}

.promo a {
    border: 1px solid white;
}

.promo a:hover {
    background-color: black
}

/*fin PROMOCIONES*/



/*RESERVAR*/
#reserva {
    font-size: 45px;
    display: flex;
    flex-flow: column wrap;
    margin-top: 12vh;
}

.reserva {
    border: 8px solid white;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    color: white;
    background-color: rgb(59, 59, 59)
}

/*fin RESERVAR*/



/*SOBRE NOSOTROS*/
#nosotros {
    display: flex;
    flex-flow: column wrap;
    margin-top: 12vh
}

#nosotros h1 {
    font-size: 45px;
}

#nosotros h2 {
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
}

#nosotros section {
    border: 8px solid white;
    padding: 5px;
    background-color: rgb(59, 59, 59)
}

#nosotros p {
    font-size: 25px;
    color: white;
    text-align: justify;
    padding: 5px
}

#nosotros article {
    border: 8px solid white;
    background-color: rgb(59, 59, 59);
    padding: 5px;
    margin-top: 15px;
}

#nosotros h3 {
    font-size: 30px;
    color: white;
}

#nosotros img {
    height: 220px;
    width: 220px;
    border: 5px solid white;
    border-radius: 15px;
    margin: 1%;
    padding: 1%;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "aaa1 aaa2 aaa3""aaa4 aaa5 aaa6""aaa7 aaa8 aaa9""aaa10";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid :hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.grid {
    column-gap: 15px;
    row-gap: 15px;
}

/*fin SOBRE NOSOTROS*/


/*footer*/
footer .contactofooter {
    font-size: 50px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-align: center;
}

footer {
    border: 8px solid white;
    background-color: rgb(59, 59, 59);
    margin: 1%;
}

footer a {
    display: block;
}

iframe {
    width: 100%;
}

footer h5 {
    text-align: center;
}

#link {
    border: 3px solid white;
    padding: 1%;
    margin: 1%;
}

#email {
    max-width: 150px;
    color: rgb(59, 59, 59);
}

.row {
    margin: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#imgfooter {
    width: 10vw
}

div .horarios {
    border: 3px solid white;
    margin: 1%;
    padding: 1%;
}

div .horarios h5 {
    font-size: 30px;
}

footer td {
    border: 3px solid white;
}

.table-responsive {
    display: inline;
}

#copyright {
    display: block;
    margin: auto;
    padding: 1%;
    color: white;
    text-align: center;
    max-width: 100vw;
}


/* reemplazado por bootsrap
footer h5 {
    font-size: 30px;
    color: white;
    padding-top: 1%;
    margin-bottom: 1%;
    display: inline-block;
    margin:1%;
}
ul {
    list-style: none;
    align-content: center;
}
div a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}
div .col1 {
    border: 3px solid white;
    padding: 1%;
    margin: 1%;
}
div .col1 ul li img {
    height:150px;
}

div .col2 {
    border: 3px solid white;
    margin: 1%;
    padding: 1%;
}
div .col2 ul li {
    font-size: 25px;
    color:white
}

div .col3 {
    border: 3px solid white;
    padding: 1%;
    margin: 1%;
}
div .col3 p {
    font-size: 25px;
    color: white;
    padding-bottom: 1%;}
    
    div .col4 {
        border: 3px solid white;
        padding: 1%;
        margin: 1%;
    }
    div .col4 p {
        font-size: 25px;
        color: white; 
        padding: 1%;
    }
    div .col4 iframe {
        height: 200px;
    }
    */



/* reemplazado por boostrap
    fin footer*
@media only screen and (min-width:1000px) and (max-width:1366px) {
    h1 {font-size: 55px !important}
    h2 {font-size: 45px !important}
    h3 {font-size: 40px !important}
    h5 {font-size: 40px !important}
    p {font-size: 30px !important}
    a {font-size: 30px !important}
    li {font-size: 30px !important}
    #nosotros {margin-top: 14vh;}
    #promo {margin-top: 15vh}
    #reserva {margin-top: 14vh;}
    #menu {margin-top: 15vh}
}

@media only screen and (min-width:1367px) {
    h1 {font-size: 65px !important}
    h2 {font-size: 55px !important}
    h3 {font-size: 50px !important}
    h5 {font-size: 50px !important}
    p {font-size: 35px !important}
    a {font-size: 35px !important}
    li {font-size: 35px !important}
    #nosotros {margin-top: 16vh}
    #promo {margin-top: 16vh}
    #reserva {margin-top: 16vh}
    #menu {margin-top: 16vh}
}
*/