$fondo:rgb(59, 59, 59);
$titulos:6vw;
$subtitulos:4vw;
$encabezadossec:2vw;
$texto: 2vw;
$contenedores: 8px solid white;

$fontweight: (
    normal: thin,
    bold: bold
    );

@mixin container {
    background-color: rgb(59, 59, 59);
    color: white;
    border: 8px solid white;
}
* {
    padding: 0;
    margin: 0;
    font-family: Verdana;
    box-sizing: content-box;
    color: rgb(255, 255, 255);
    ::selection {
        color: white;
        background: rgb(114, 114, 114);
    }
}
body {
    background-image: url(../imagenesestilo/barbackground.jpg);
/*navegacion*/
    header {
        padding-left: 1%;
        padding-right: 1%;
        nav {
            display: block;
            text-decoration: none;
            background-color: rgb(59, 59, 59);
            border: $contenedores;
            h2 {
                display: inline;
            }
            li{
                .nav-link {display: inline-block;}
                & :hover { 
                text-decoration: none;
                background-color:$fondo;
                border: white 1px solid;
                }
            }
        }
    }
/*fin navegacion*/
/*INDEX*/
    main {
        margin: 1%;
        .portada {
            @include container;
            padding-top: 1%;
            padding-bottom: 1%;
            margin-bottom: 1%;
            text-align: center;
            display: flex;
            flex-direction: column;
            background-position: center;
            h1{
                font-size: $titulos;
                letter-spacing: 15px;
                font-weight: map-get($fontweight, bold);
                padding-top: 1%;
            }
            .imagenicon {
                margin: auto;
                border: $contenedores;
            }
            h3 {
                font-size: $encabezadossec;
            }
            p {
                padding-top: 1%;
                font-size:$encabezadossec;
            }
        }
        .sobrenosotros {
            @include container;
            padding: 1%;
            margin-bottom: 1%;
            h2{
                font-size: $subtitulos
            }
            .imagenesnosotros{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .imgbar1 {
                    background-image:url(../imagenes/bar1.jpg);
                    background-size: cover;
                    height: 300px;
                    width: 400px;
                    border: 2px solid white;
                    margin: 1%;
                }
                .imgbar2 {
                    background-image:url(../imagenes/bar2.jpg);
                    @extend .imgbar1
                }
                .imgbar3 {
                    background-image:url(../imagenes/bar3.jpg);
                    @extend .imgbar1
                }
                .imgbar4 {
                    background-image:url(../imagenes/bar4.jpg);
                    @extend .imgbar1
                }
            }
            .imagenesnosotros {
                :hover {
                transform: scale(1.1);
                transition: 0.2s;
                }
            }
            h3 {
                padding: 1%;
                border: 3px solid white;
                display: inline-block;
                font-size: $encabezadossec;
                a {
                    text-decoration: none;
                }
            }
            p {
                font-size: $encabezadossec;
            }
            .link:hover {
                background-color: rgb(0, 0, 0)
            }
        }
        .promociones {
            @include container;
            padding: 1%;
            margin-bottom: 1%;
            h2 {
                font-size: $subtitulos;
                letter-spacing: 2px
            }
            h3 {
                font-size: $encabezadossec;
                text-align: left;
                border: none;
            }
            ul{
                li{
                    font-size: 2vw;
                }
            }
            .slides {
                display: flex;
                align-content: center;
                justify-content: center;
            }
            h3{ 
                a {
                font-size: $encabezadossec;
                text-decoration: none;
                border: 3px solid white;
                padding: 1%;
                }
                a:hover {
                background-color: rgb(0, 0, 0);
                }
            }
        }
        .reservas {
            @include container;
            padding: 1%;
            margin-top: 1%;
            h2 {
                font-size: $subtitulos;
                letter-spacing: 2px;
            }
            h3 {
                font-size: $encabezadossec;
                text-align: center;
                margin-bottom: 1%;
            }
            .container {
                @include container;
                width: auto;
                margin: 0 auto;
                text-align: center;
                padding: 1%;
            }
            .cajas {
                color: rgb(59, 59, 59);
                border-radius: 5px;
                margin: 1% 0;
                background-color: white;
                border: 2px solid white;
            }
            .cajas:hover {
                border: 2px solid #000;
            }
            #npersonas {color: rgb(59, 59, 59);}
            .btn {
                height: 40px;
                padding: 1% 5%;
                border-radius: 5px;
                background-color:$fondo;
                font-weight: 700;
                text-transform: uppercase;
            }
            .btn:hover {
                background-color:$fondo;
                border: 3px solid white;
            }
        }
    }
    /* reserva confirmada*/
    #tabla {
        margin: 0 auto;
        border: 3px solid white;
        border-collapse: collapse;
        background-color: rgb(114, 114, 114);
        color: white;
        border-collapse: separate;
        border-spacing: 10px;
        align-content: center;
        th{
            padding: 10px;
            border: 1px solid white;
            border-bottom: 3px solid white
        }
        td{
            padding: 10px;
            border: 1px solid white;
            border-bottom: 3px solid white
        }
    }
    /*fin reserva confirmada */
/*fin INDEX*/
/*MENU*/
    main {
        h1 {
            font-size: $titulos;
            font-weight: map-get($fontweight, bold);
        }
        #menu {
            display: flex;
            flex-flow: column wrap;
        }
        table {
            @include container;
            font-size: $texto;
        }
        .table :hover {
            animation-name: transparente;
            animation-iteration-count: 1;
            animation-direction: alternate;
            animation-duration: 1s;
            animation-delay: 0.1s;
        }
        @keyframes transparente {
            0% {
                opacity: 0.5;
            }
            100% {
                opacity: 1;
            }
        }
    }
/*fin MENU*/
/*PROMOCIONES*/
    main {
        h1{
            font-size: $titulos;
            font-weight: map-get($fontweight, bold);
        }
        #promo {
            display: flex;
            flex-flow: row wrap;
        }
        .row{
                display: flex;
                justify-content: center;
                align-items: center;
            margin: 1%;
            .promo {
                border: $contenedores;
                background-color:$fondo;
                padding: 1%;
                margin: 1%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                img {
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    align-content: center;
                }
                h3 {
                    font-size: $encabezadossec;
                }
                ul {
                    li {
                    font-size: 1.5vw;
                    padding: 5px 5px 5px 0px;
                    }
                }
                button {font-size: $texto;
                    margin: 1%;
                    
                    border: 3px solid white;
                }
            }
            .mod :hover {
                background-color: black;
                text-decoration: none;
            }
        }
    }
/*fin PROMOCIONES*/
/*Formá parte del Equipo*/
    main {
        h1 {
        font-size: $titulos;
        font-weight: map-get($fontweight, bold);
        }
        .lema1 {
        border: $contenedores;
        padding: 1%;
        font-size: $texto;
        background-color:$fondo;
        }
        .carrousel{
            border: $contenedores;
            margin-top: 1%;
        }
        .lema2 {
            @extend .lema1;
            margin-top: 1%;
            font-size: $texto;
            h2{
                font-size: $subtitulos;
            }
            h3{
                font-size: $subtitulos;
            }
        }
    ///link google docs navegador web (@media)////
        .cvweb {
            @extend .lema2;
            .imagencv{
                display: flex;
                flex-flow: row;
                justify-content: space-evenly;
                .qr{
                    height:25%;
                    width: 25%;
                }
                .empleados {
                    height: auto;
                    width: 45%;
                }
            }
            .linksolicitud {
                border: 3px solid white;
                padding: 1%;
                margin: 1%;
                display:flex;
                justify-content: center;
                h6{
                    font-size: 1.5vh;
                }
            }
            & .linksolicitud:hover {
                text-decoration: none;
                background-color: black;
            }
        }
    ///link google docs navegador mobile (@media)////
        .cvmobile{
            @extend.lema1;
            margin-top:1%;
            .empleados{
                width: 100%;
                height: auto;
            }
            .linksolicitud {
                border: 3px solid white;
                padding: 1%;
                margin: 1%;
                display:flex;
                justify-content: center;
                h6{
                    font-size: 1.5vh;
                }
            }
            & .linksolicitud:hover {text-decoration: none;
            background-color: black;}
            }
        }
    
/*fin Formá parte del Equipo*/
/*SOBRE NOSOTROS*/
    #nosotros {
    display: flex;
    flex-flow: column wrap;
        h1 {
            font-size: $titulos;
            font-weight: map-get($fontweight, bold);
        }
        section {
            border: $contenedores;
            padding: 5px;
            background-color:$fondo;
            h2 {
                font-size: $subtitulos;
                margin-bottom: 1%;
            }
            p {
                font-size: $texto;
                text-align: justify;
                padding: 1%;
            }
        }
        article {
            border: $contenedores;
            background-color:$fondo;
            padding: 1%;
            margin-top: 1%;
            h3 {
                font-size: $encabezadossec;
            }
            .grid {
                display: grid;
                grid-template-columns:auto auto auto auto;
                grid-template-rows: auto;
                justify-content: space-evenly;
                align-content: center;
                grid-gap: 10px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
            }
            .grid :hover {
                transform: scale(1.1);
                transition: 0.2s;
            }
            img {
                height: auto;
                width: 320px;
                border: 3px solid white;
                border-radius: 15px;
                margin: 1%;
                }
        }
    }
/*fin SOBRE NOSOTROS*/
/*FOOTER*/
    footer {
        border: $contenedores;
        background-color:$fondo;
        margin: 1%;
        .contactofooter {
            font-size: $subtitulos;
            color: rgb(255, 255, 255);
            letter-spacing: 2px;
            text-align: center;
        }
        .row {
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: $texto;
            max-width: fit-content;
            margin: 1%;
            & :hover {
                text-decoration: none;
            }
            #imgfooter {
                width: 12vw;
                border: 3px solid white;
            }
            #link {
                border: 3px solid white;
                padding: 1%;
                margin: 1%;
                h4 {
                    font-size: $encabezadossec;
                }
                a {
                    font-size: $texto;
                }
                p {
                    font-size: $texto;
                }
                input {max-width: 100%;}
            }
            #email {
                max-width: 150px;
                color: rgb(59, 59, 59);
            }
            a {
                font-size: $texto;
                display: block;
            }
            iframe {
                width: 100%;
            }
            h4 {
                font-size: $encabezadossec;
            }
            table {
                font-size: $texto;
            display: inline;
                td {
                border: 3px solid white;
                }
            }
        }
        #copyright {
            display: block;
            padding: 1%;
            text-align: center;
            max-width: 100vw;
            h6 {
                font-size: $texto;
            }
        }
    }
/*FIN - FOOTER*/
}

@media screen and (max-width: 520px)
    {div.cvweb {
        display: none;
    }
}

@media screen and (min-width: 521px)
    {div.cvmobile {
        display: none;
    }
}